@import "tailwindcss";
@import "tw-animate-css";

/* @custom-variant dark (&:is(.dark *)); */

@theme inline {
  --color-primary:var(--primary);
  --color-background: var(--background);
  --color-text-primary:var(--text-primary);
  --color-text-secondary:var(--text-secondary);
  --color-border-primary:var(--border-primary);
  --gradient:var(--gradient);
}

:root {
  --primary:#000000;
  --background: oklch(1 0 0);
  --text-primary:#000000;
  --text-secondary:#6D6D6D;
  --border-primary:#DCDFE4;
  --gradient:linear-gradient(180deg, #ED5346 100%, #DB3E31 100%);
}



/* ========================|| Util Classes ||======================== */

@layer base {
  * {
    @apply border-border outline-ring/50;
  }
  body {
    @apply bg-background text-foreground;
  }
  html {
    @apply font-sans;
  }
}

@layer components {
  .center {
    @apply items-center justify-center;
  }
}

@utility flex-col-* {
  display: flex;
  flex-direction: column;
  gap: --spacing(--value(integer));
  gap: --value([length], [percentage]);
}

@layer utilities {
  .dropdown-content-width-full {
    width: var(--radix-dropdown-menu-trigger-width);
  }
}

/* ========================|| Button Ripple Animation ||======================== */

.ripple {
  position: absolute;
  border-radius: 50%;
  transform: scale(0);
  animation: ripple 600ms linear;
}

@keyframes ripple {
  to {
    transform: scale(4);
    opacity: 0;
  }
}
