@import "tailwindcss";
@import "tw-animate-css";

/* @custom-variant dark (&:is(.dark *)); */

@theme inline {
  --color-primary:var(--primary);
  --color-primary-green:var(--primary-green);
  --color-background: var(--background);
  --color-input: var(--background);
  --color-text-primary:var(--text-primary);
  --color-text-secondary:var(--text-secondary);
  --color-border-primary:var(--border-primary);
  --gradient:var(--gradient);
}

:root {
  --primary:#DB3E31;
  --primary-green:#21AB70;
  --background: oklch(1 0 0);
  --input: #ffffff;
  --text-primary:#000000;
  --text-secondary:#6D6D6D;
  --border-primary:#DCDFE4;
  --gradient:linear-gradient(180deg, #ED5346 100%, #DB3E31 100%);
   --custom-scrollbar: #e4e4e4;
   --custom-scrollbar-2: #000000;
}



/* ========================|| Util Classes ||======================== */

@layer base {
  *{
    @apply focus:outline-primary
  }
  body {
    @apply bg-background text-text-primary;
  }
  html {
    @apply font-sans;
  }
}

@layer components {
  .center {
    @apply items-center justify-center;
  }
}

@utility flex-* {
  display: flex;
  flex-direction: row;
  gap: --spacing(--value(integer));
  gap: --value([length], [percentage]);
}

@utility flex-col-* {
  display: flex;
  flex-direction: column;
  gap: --spacing(--value(integer));
  gap: --value([length], [percentage]);
}

@layer utilities {
  .dropdown-content-width-full {
    width: var(--radix-dropdown-menu-trigger-width);
  }
}

/* ========================|| Input Auto Fill Color Handler ||======================== */
input:-webkit-autofill,
input:-webkit-autofill:hover,
input:-webkit-autofill:focus,
input:-webkit-autofill:active {
  -webkit-box-shadow: 0 0 0 30px var(--input) inset !important;
  color: var(--text-primary) !important;
}

/* ========================|| Button Ripple Animation ||======================== */

.ripple {
  position: absolute;
  border-radius: 50%;
  transform: scale(0);
  animation: ripple 600ms linear;
}

@keyframes ripple {
  to {
    transform: scale(4);
    opacity: 0;
  }
}

/* ========================|| My Custom Animations ||======================== */
@keyframes fade-in-up {
  0% {
    opacity: 0;
    transform: translateY(10px);
  }

  100% {
    opacity: 1;
    transform: translateY(0);
  }
}

.animate-fade-in-up {
  animation: fade-in-up 0.4s ease-out;
}

/* ========================|| Custom Thin Scrollbar Variant ||======================== */
.custom-scrollbar::-webkit-scrollbar {
  height: 6px;
  width: 5px;
}

.custom-scrollbar::-webkit-scrollbar-track {
  border-radius: 10px;
}

.custom-scrollbar::-webkit-scrollbar-thumb {
  background: var(--custom-scrollbar);
  border-radius: 10px;
}

.custom-scrollbar::-webkit-scrollbar-thumb:hover {
  background: var(--custom-scrollbar-2);
}

.scrollbar-h-3::-webkit-scrollbar {
  height: 3px;
}

/* ========================|| Invisible Scrollbar Variant ||======================== */
.custom-no-scrollbar::-webkit-scrollbar {
  height: 0px;
  width: 0px;
}

.custom-no-scrollbar::-webkit-scrollbar-track {
  border-radius: 10px;
}

.custom-no-scrollbar::-webkit-scrollbar-thumb {
  background: #e4e4e4;
  border-radius: 0px;
}

.custom-no-scrollbar::-webkit-scrollbar-thumb:hover {
  background: #c5c3c3;
}