@import "tailwindcss";
@import "tw-animate-css";

/* @custom-variant dark (&:is(.dark *)); */

@theme inline {
  --color-primary:var(--primary);
  --color-primary-green:var(--primary-green);
  --color-background: var(--background);
  --color-input: var(--background);
  --color-text-primary:var(--text-primary);
  --color-text-secondary:var(--text-secondary);
  --color-border-primary:var(--border-primary);
  --gradient:var(--gradient);
  --color-surface:var(--surface);
  --color-brand-base-black:var(--brand-base-black);
  --color-brand-base-white:var(--brand-base-white);
  --color-brand-Text-50:var(--brand-Text-50);
  --color-brand-Text-100:var(--brand-Text-100);
  --color-brand-Text-200:var(--brand-Text-200);
  --color-brand-Text-300:var(--brand-Text-300);
  --color-brand-Text-400:var(--brand-Text-400);
  --color-brand-Text-500:var(--brand-Text-500);
  --color-brand-Text-600:var(--brand-Text-600);
  --color-brand-Text-700:var(--brand-Text-700);
  --color-brand-Text-800:var(--brand-Text-800);
  --color-brand-Text-950-d:var(--brand-Text-950-d);
  --color-brand-primary-red-100:var(--brand-primary-red-100);
  --color-brand-primary-red-200:var(--brand-primary-red-200);
  --color-Warning-Yellow-60:var(--Warning-Yellow-60);
  --color-brand-primary-red-50:var(--brand-primary-red-50);
  --color-brand-primary-blue-100:var(--brand-primary-blue-100);
  --color-brand-primary-blue-700:var(--brand-primary-blue-700);
  --color-brand-primary-blue-50:var(--brand-primary-blue-50);
  --color-brand-primary-blue-200:var(--brand-primary-blue-200);
  --color-brand-primary-blue-600:var(--brand-primary-blue-600);
  --color-Text-200:var(--Text-200);
  --color-Active-Blue-50:var(--Active-Blue-50);
  --color-brand-primary-red-300:var(--brand-primary-red-300);
  --color-brand-primary-red-400:var(--brand-primary-red-400);
  --color-brand-primary-red-500:var(--brand-primary-red-500);
  --color-brand-primary-red-600-d:var(--brand-primary-red-600-d);
  --color-brand-primary-red-700:var(--brand-primary-red-700);
  --color-Primary-Green-50:var(--Primary-Green-50);
  --color-gray-light-50:var(--gray-light-50);
  --color-Colors-background-primary:var(--Colors-background-primary);
  --color-Error-Red-60:var(--Error-Red-60);
  --color-Error-Red-50:var(--Error-Red-50);
  --color-Error-Red-20:var(--Error-Red-20);
  --color-Neutral-Grey-0:var(--Neutral-Grey-0);
  --color-Neutral-Grey-10:var(--Neutral-Grey-10);
  --color-Neutral-Grey-20:var(--Neutral-Grey-20);
  --color-Neutral-Grey-60:var(--Neutral-Grey-60);
  --color-Neutral-Grey-70:var(--Neutral-Grey-70);
  --color-Neutral-Grey-100:var(--Neutral-Grey-100);
  --color-Static-White:var(--Static-White);
  --color-Colors-Card-stroke2:var(--Colors-Card-stroke2);
  --color-Base-White:var(--Base-White);
  --color-Transparent-Error:var(--Transparent-Error);
}

:root {
  --primary:#DB3E31;
  --primary-green:#21AB70;
  --background: oklch(1 0 0);
  --input: #ffffff;
  --text-primary:#000000;
  --text-secondary:#6D6D6D;
  --border-primary:#DCDFE4;
  --gradient:linear-gradient(180deg, #ED5346 100%, #DB3E31 100%);
  --custom-scrollbar: #e4e4e4;
  --custom-scrollbar-2: #000000;
  --surface:#FFFFFF;
  --brand-base-black:#000000;
  --brand-base-white:#FFFFFF;
  --brand-Text-950-d:#1E1E1E;
  --brand-Text-800:#2D2D2D;
  --brand-Text-700:#3D3D3D;
  --brand-Text-600:#5D5D5D;
  --brand-Text-500:#737373;
  --brand-Text-400:#888888;
  --brand-Text-300:#B0B0B0;
  --brand-Text-200:#D0D0D0;
  --brand-Text-100:#E7E7E7;
  --brand-Text-50:#F6F6F6;
  --brand-primary-red-700:#B52E23;
  --brand-primary-red-600-d:#DB3E31;
  --brand-primary-red-500:#ED5346;
  --brand-primary-red-400:#F67D73;
  --brand-primary-red-300:#F9A09A;
  --brand-primary-red-100:#FEE2E0;
  --brand-primary-red-200:#FDCFCB;
  --Warning-Yellow-60:#F59E0B;
  --brand-primary-red-50:#FEF0EF;
  --brand-primary-blue-100:#DBEAFE;
  --brand-primary-blue-700:#1D4ED8;
  --brand-primary-blue-50:#EFF6FF;
  --brand-primary-blue-200:#BFDBFE;
  --brand-primary-blue-600:#2563EB;
  --Text-200:#D0D0D0;
  --Active-Blue-50:#2563EB;
  --Primary-Green-50:#21AB70;
  --gray-light-50:#fafafa;
  --Colors-background-primary:#ffffff;
  --Error-Red-60:#E53935;
  --Error-Red-50:#FFEBEE;
  --Error-Red-20:#FFCDD2;
  --Neutral-Grey-0:#F9F9F9;
  --Neutral-Grey-10:#EBEBEB;
  --Neutral-Grey-20:#D6D6D6;
  --Neutral-Grey-60:#8C8C8C;
  --Neutral-Grey-70:#737373;
  --Neutral-Grey-100:#1A1A1A;
  --Static-White:#FFFFFF;
  --Colors-Card-stroke2:#DCDFE4;
  --Base-White:#FFFFFF;
  --Transparent-Error:#E53935;
}



/* ========================|| Util Classes ||======================== */

@layer base {
  *{
    @apply focus:outline-primary
  }
  body {
    @apply bg-background text-text-primary;
  }
  html {
    @apply font-sans;
  }
}

@layer components {
  .center {
    @apply items-center justify-center;
  }
}

@utility flex-* {
  display: flex;
  flex-direction: row;
  gap: --spacing(--value(integer));
  gap: --value([length], [percentage]);
}

@utility flex-col-* {
  display: flex;
  flex-direction: column;
  gap: --spacing(--value(integer));
  gap: --value([length], [percentage]);
}

@layer utilities {
  .dropdown-content-width-full {
    width: var(--radix-dropdown-menu-trigger-width);
  }
}

/* ========================|| Input Auto Fill Color Handler ||======================== */
input:-webkit-autofill,
input:-webkit-autofill:hover,
input:-webkit-autofill:focus,
input:-webkit-autofill:active {
  -webkit-box-shadow: 0 0 0 30px var(--input) inset !important;
  color: var(--text-primary) !important;
}

/* ========================|| Button Ripple Animation ||======================== */

.ripple {
  position: absolute;
  border-radius: 50%;
  transform: scale(0);
  animation: ripple 600ms linear;
}

@keyframes ripple {
  to {
    transform: scale(4);
    opacity: 0;
  }
}

/* ========================|| My Custom Animations ||======================== */
@keyframes fade-in-up {
  0% {
    opacity: 0;
    transform: translateY(10px);
  }

  100% {
    opacity: 1;
    transform: translateY(0);
  }
}

.animate-fade-in-up {
  animation: fade-in-up 0.4s ease-out;
}

/* ========================|| Custom Thin Scrollbar Variant ||======================== */
.custom-scrollbar::-webkit-scrollbar {
  height: 6px;
  width: 5px;
}

.custom-scrollbar::-webkit-scrollbar-track {
  border-radius: 10px;
}

.custom-scrollbar::-webkit-scrollbar-thumb {
  background: var(--custom-scrollbar);
  border-radius: 10px;
}

.custom-scrollbar::-webkit-scrollbar-thumb:hover {
  background: var(--custom-scrollbar-2);
}

.scrollbar-h-3::-webkit-scrollbar {
  height: 3px;
}

/* ========================|| Invisible Scrollbar Variant ||======================== */
.custom-no-scrollbar::-webkit-scrollbar {
  height: 0px;
  width: 0px;
}

.custom-no-scrollbar::-webkit-scrollbar-track {
  border-radius: 10px;
}

.custom-no-scrollbar::-webkit-scrollbar-thumb {
  background: #e4e4e4;
  border-radius: 0px;
}

.custom-no-scrollbar::-webkit-scrollbar-thumb:hover {
  background: #c5c3c3;
}